NODE_ENV = "production" # Entorno de ejecución (ej. production, development)
JWT_SECRET = "your_production_jwt_secret" # String largo y seguro para la firma de JWT en producción
BACKEND_PORT = 5000 # Puerto donde corre el backend en producción
DB_PORT = 5432 # Puerto estándar de PostgreSQL
DB_HOST = "aws-1-eu-west-3.pooler.supabase.com"
DB_USER = "postgres.{project_id_supabase}"
DB_PASSWORD = "your_production_db_password"
DB_NAME = "postgres"
SERVER_NAME = "tts.joaquincatanzariti.com"
SERVER_NAME_API = "api-tts.joaquincatanzariti.com"

EMAIL_SENDER="no-reply@joaquincatanzariti.com"
EMAIL_SENDER_PASSWORD="your_email_password"
EMAIL_SENDER_PORT=587
EMAIL_SENDER_HOST="smtp.zoho.eu"

REDIS_URL="redis://redis:6379" # URL de conexión a la instancia de Redis dentro de Docker
TTS_SERVICE_URL="http://tts:7860" # URL del servicio TTS dentro de Docker