NODE_ENV = "production" # Entorno de ejecución (ej. production, development)
JWT_SECRET = "your_production_jwt_secret" # String largo y seguro para la firma de JWT en producción
BACKEND_PORT = 5000 # Puerto donde corre el backend en producción
DB_PORT = 5432 # Puerto estándar de PostgreSQL
DB_HOST = "your_production_db_host" # Host de la DB en producción (ej. clouddb.supabase.com)
DB_USER = "your_production_db_user" # Usuario de la base de datos en producción
DB_PASSWORD = "your_production_db_password" # Contraseña de la base de datos en producción
DB_NAME = "your_production_db_name" # Nombre de la base de datos en producción (ej. postgres)
SERVER_NAME = "your_domain.com" # Dominio donde se sirve el frontend
SERVER_NAME_API = "api.your_domain.com" # Dominio donde escucha el backend

EMAIL_SENDER="your_email@example.com" # Dirección de email del remitente
EMAIL_SENDER_PASSWORD="your_email_password" # Contraseña o App Password del correo
EMAIL_SENDER_PORT=587 # Puerto SMTP para enviar correos
EMAIL_SENDER_HOST="smtp.example.com" # Host del servidor SMTP

REDIS_URL="redis://redis:6379" # URL de conexión a la instancia de Redis dentro de Docker
TTS_SERVICE_URL="http://tts:7860" # URL del servicio TTS dentro de Docker