:root {
    --color-background: #111827;
    --color-background-secondary: #1f2937;
    --color-text: #ffffff;
    --color-text-secondary: #9ca3af;
    --color-border: #374151;
    --color-primary: #3b82f6;
    --color-primary-dark: #2563eb;
    --color-secondary: #8b5cf6;
    --color-secondary-dark: #7c3aed;
    --border-radius: 8px;
    --transition-speed: 0.3s;
}

[id] {
    scroll-margin-top: 64px;
}

@media (max-width:600px) {
    [id] {
        scroll-margin-top: 56px;
    }
}