.header-appbar {
    transition: transform 0.3s ease;
    z-index: 1300;
    width: 100%;
}

.header-hide {
    transform: translateY(-100%);
}

.header-toolbar {
    position: relative;
    width: 100%;
    min-height: 64px !important;
}

.header-logo-box {
    flex: 0 0 auto;
    width: 150px;
}

.header-logo-img {
    max-height: 35px;
    cursor: pointer;
}

.header-nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 16px;
    min-width: 300px;
    justify-content: center;
}

.header-nav-button {
    text-transform: none;
    position: relative;
    color: inherit;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 8px 16px;
    min-width: auto;
    outline: none !important;
    transition: none;
    width: 120px;
}

.header-nav-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: all 0.3s ease-out;
    transform: translateX(-50%);
}

.header-nav-button:hover,
.header-nav-button:focus,
.header-nav-button:active {
    background-color: transparent !important;
    box-shadow: none !important;
    transform: none !important;
    outline: none !important;
}

.header-nav-button:hover::after,
.header-nav-button.active::after {
    left: 50%;
    width: 80%;
}

.header-right-box {
    margin-left: auto;
    flex: 0 0 auto;
    min-width: 240px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}